/* Google Fonts 
font-family: 'Oswald', sans-serif;
font-family: 'EB Garamond', serif;
 End Google Fonts*/

 /* Defaults */
 body {
    font-size: 16px;
    background-image: url(images/woodenplanks.jpg);
    background-size: cover;
}
 /* End Defaults */ 

 /* Header */
header {
    height: 200px;
    background-image: url(images/burgers-header.jpg);
    padding-top: 10px;
    border-bottom: 7px black solid;
}
header p {
    font-family: 'EB Garamond', serif;
    font-size: 4em;
    text-align: center;
    color: white;
    font-weight: bold;
}
 /* End Header */

 /* Main */
 main {
     height: 600px;
     width: 800px;
     background-color: rgba(50, 50, 50, .5);
     border: 2px white solid;
     margin: 0 auto;
 }
 main h1 {
     text-align: center;
     color: red;
     font-family: 'Oswald', sans-serif;
     font-size: 5em;
 }
main p {
    border: 3px black solid;
    font-size: 3em;
    color: white;
    padding: 5px;
    display: inline-block;
    margin-left: 164px;
    background-color: red;
}
main p a:link {
    text-decoration: none;
    color: white;
}
main p a:visited {
    color: white;
}

form {
    font-size: 2em;
    font-weight: bold;
    font-family: 'EB Garamond', serif;

}
 /* End Main */

 /* Footer */
 footer {
     height: 50px;
     background-color: #324459;
     padding-top: 20px;
     border-top: 7px black solid;
 }
 footer p {
     margin: 0;
     text-align: center;
 }
 /* End Footer */